<section class="hero is-primary is-small animated slideInDown">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item pacifico medium-text">modern web store</a>
                    <span class="navbar-burger burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
               <app-sub-menu></app-sub-menu>
            </div>
        </nav>
    </div>
</section>